body{
    background-color: rgba(133, 255, 249, 0.664);
}
h1{ 
    color: maroon;
    text-align: center;
    background-color: aqua;
}
h2{
    color:brown;
    text-decoration-style:dotted;
}
a{
    
}