/* *{ margin: 0px;
padding: 0px;} */
body {
    background-color: rgba(147, 204, 254, 0.598);
}
h1 {
    color: rgb(249, 117, 29);
    text-align: center;
    /* background-color: rgba(131, 250, 250, 0.438); */
    text-shadow: 5px 0.5px 4.5px black;
    font-style: italic;
    border-bottom: 4px dotted rgb(224, 63, 63);
}
h2 {
    color: rgba(250, 145, 40, 0.897);
    text-shadow: 5px 0.5px 4.75px black;
    font-style: italic;
}
a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(224, 63, 63);
    font-style: italic;
}
p{
    font-family: cursive;
    font-style: italic;
}
